@model EditProfileViewModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Edit Profile</title>
    <link rel="stylesheet" href="~/css/Account/Account_Base.css">
</head>
<body>
    <h2>Edit Profile</h2>

    <form asp-action="EditProfile" method="post">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" disabled /> <!-- UserName is not editable -->
        </div>

        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" disabled /> <!-- Email is not editable -->
        </div>

        <div class="form-group">
            <label asp-for="ShippingAddress"></label>
            <input asp-for="ShippingAddress" class="form-control" />
            <span asp-validation-for="ShippingAddress" class="text-danger"></span>
        </div>
        <div class="account-btns">
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
    </form>

</body>
</html>