@model RegisterViewModel;
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2>Register</h2>

    <form asp-action="Register" method="post">
        <div>
            <label asp-for="UserName"></label>
            <input asp-for="UserName" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Email"></label>
            <input asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div>
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" type="password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button type="submit">Register</button>
    </form>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>