body{
    background-image: url("../../Images/Castello1_Prova.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    text-align: center;
    padding-top: 420px;
    padding-left: 500px;
}
img{
    width: 50px;
    height: 100px;
}
