/*body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #0c67ae;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: fit-content;
    flex-direction: column;
    margin: 0;
    background-image: url("/Images/Castello1_Prova.jpg");*/ /* Background image */
    /*background-repeat:no-repeat;
    
    
}*/
/* Make the title image smaller and center it */
/*#title {
    display: block;
    margin: 0 auto;*/ /* Centers the image horizontally */
    /*width: 200px;*/ /* Adjust the size as needed */
    /*height: auto;*/ /* Keeps the aspect ratio intact */
/*}*/

/* Center the board and adjust its appearance */
#board {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    margin: 30px auto; /* Centers the board horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Style the board images */
#board img {
    width: 110px;
    height: 111px;
    border: -5px;
}

/*body {
    margin: 0;
    padding: 0;
    font-family: 'Crimson Text', serif;
    color: #D3D3D3;*/ /* Light gray for contrast /*/
    /*height: 100vh; 
}

h1 {
    align-content: center;
    text-align: center;
    text-decoration-color: inherit;
    font-family: 'Arial', cursive;*/ /* Font in stile retro /*/
    /*font-size: 25px;
    color: whitesmoke;
    text-shadow: 2px 2px 0 #808080;
    background-color: #000;
    padding: 5px;
    border: 2px solid;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    width: 300px;
    height: 50px;
    overflow: hidden;


}

    body::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        background-image: url("/Images/Castello1_Prova.jpg");*/ /* Background image */
        /*background-size: cover;
        align-items: center;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
    }

.container {
    text-align: center;

}*/