/* styles.css */

body {
    margin: 0; /* Remove default margin */
    background-color: #1b1b1bff !important;
}

.button-container {
    margin-top: 1px; /* Add some space above buttons */
}

.container{
    margin-left: 100px;
}
.btn {
    margin: 10px; /* Add some space between buttons */
    padding: 10px 20px; /* Padding for buttons */
}

.container2 {
    /* Ensure the container has a defined height and width */
    min-width: 1660px !important; /* Maximum width */

    max-width: 1690px; /* Maximum width */
    max-height: 880px; /* Maximum height */
    width: 100%; /* Responsive */
    height: auto; /* Responsive */
    margin: 0 auto; /* Center the container */
    background-image: url('/Images/Room2_1.jpg'); /* Set your background image here */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    aspect-ratio: 1.9 / 1; /* Set aspect ratio to 1.9:1 */
    position: relative; /* Ensure children can be positioned relative to this */
    border-radius: 10px;
}
.modal-body {
    color: #f5f5f5;
}
h2, h3, h4, h5, h6 {
    padding-top: 15px;
    padding-left: 15px;

    color: #f5f5f5;
    text-shadow: 5px 3px 5px black, 0 0 0.5em black, 0 0 0.9em black;
}
h1 {
    padding-top: 1px;
    padding-left: 15px;
    color: #f5f5f5;
    text-shadow: 5px 3px 5px black, 0 0 0.5em black, 0 0 0.9em black;
}
.modal-title {
    color: #fff;
}

.modal-content {
    background-color: #1b1b1bff
}
/* Make the container relative to position buttons */


/* Absolute positioning for buttons relative to container2 */
#primoPiattoButton {
    position: absolute;
    top: 510px;
    left: 630px;
    padding-top: 15px;
    padding-right: 22px;
    padding-left: 22px;
    border: 0px;
    margin: 0px;
}

#napkin2Button {
    position: absolute;
    top: 435px;
    left: 950px;
    padding: 14px;
    border: 0px;
    margin: 0px;
    cursor: default;
}

#secondoPiattoButton {
    position: absolute;
    top: 30px;
    left: 700px;
    background-color: green;
    border: none;
    cursor: default;
    opacity: 87%;
}

/* Hide clue buttons initially for sequential reveal */
.clue-btn, .puzzle-btn {
    display: none;
}

/* Show buttons for testing */
#primoPiattoButton, #napkin2Button {
    opacity: 0%;
    cursor: default;
}
