/* styles.css */

body {
    margin: 0; /* Remove default margin */
    background-color: #1b1b1bff !important;
}

.button-container {
    margin-top: 20px; /* Add some space above buttons */
}

.btn {
    margin: 10px; /* Add some space between buttons */
    padding: 10px 20px; /* Padding for buttons */
}

.container2 {
    /* Ensure the container has a defined height and width */
    min-width: 1450px; /* Maximum width */

    max-width: 1600px; /* Maximum width */
    max-height: 835px; /* Maximum height */
    width: 100%; /* Responsive */
    height: auto; /* Responsive */
    margin: 0 auto; /* Center the container */
    background-image: url('/Images/Room2_1.jpg'); /* Set your background image here */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    aspect-ratio: 1.9 / 1; /* Set aspect ratio to 1.9:1 */
    position: relative; /* Ensure children can be positioned relative to this */
}
