@model Enigma_Protocol.Models.User


@{
	Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Welcome to the Neverending Castle</title>
	<link rel="stylesheet" href="~/css/Home/Index1.css">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Crimson+Text:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Welcome to the Neverending Castle</h1>

        @* Check if the user has an order containing the required product *@
        @if (Model.Orders != null && Model.Orders
        .SelectMany(order => order.OrderDetails)
        .Any(detail => detail.Product != null && detail.Product.ProductName != null && 
               detail.Product.ProductName.Trim().ToLower() == "escape room"))

        {
            <a href="/PrologoeFinale/Prologo">Click here to start your Journey, Beware of the Unknown</a>
        }
    </div>
</body>
</html>