<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Welcome to the Neverending Castle</title>
	<link rel="stylesheet" href="~/css/Home/Index.css">
	<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Crimson+Text:ital@1&display=swap" rel="stylesheet">
</head>
<body>

	<div class="container">

		<h1>Welcome to the Neverending Castle</h1>
	</div>

</body>
</html>