<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Baule</title>
    <link href="~/css/Puzzle/Baule.css" rel="stylesheet" />
</head>
<body>
<div="container">
    <img src="~/Images/Cell_Key.jpg">
</div>
</body>
</html>
<script>

    setTimeout(function() {
       
        window.location.href = '/Puzzle/Room1';
    }, 10000); i
</script>