@{
    ViewData["Title"] = "Game Over";
}

<h2>Game Over</h2>
<p>Unfortunately, you have run out of lives.</p>
<p>Please try again!</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to Main Menu</a>