<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>LetteraScrivania</title>
    <link rel="stylesheet" href="~/css/Puzzle/Lettera.css">
</head>
<body>
    <div class="container">
    <img src="~/Images/Lettera4.jpg">
    </div>
</body>
</html>