<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Lettera Vaso</title>
    <link href="~/css/Puzzle/Letteravaso.css" rel="stylesheet" />
</head>
<body>
    <img src="~/Images/LetteraVaso1.jpg">
</body>
</html>