<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Primo Piatto</title>
    <link href="~/css/Puzzle/Primopiatto.css" rel="stylesheet" />
</head>
<body>
    <img src="~/Images/Napkin1.jpg"/>
</body>
</html>