<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Puzzle</title>
    <link rel="stylesheet" href="css/Puzzle/puzzle.css">
    <script src="js/Puzzle/puzzle.js"></script>
</head>

<body>
    <img id="title" src="./logo.png">
    <div id="board">
        <img id="0-0" src="/Images/tile8.png" />
        <img id="0-1" src="/Images/tile1.png" />
        <img id="0-2" src="/Images/tile2.png" />
        <img id="1-0" src="/Images/tile5.png" />
        <img id="1-1" src="/Images/tile6.png" />
        <img id="1-2" src="/Images/tile9.png" />
        <img id="2-0" src="/Images/tile3.png" />
        <img id="2-1" src="/Images/tile4.png" />
        <img id="2-2" src="/Images/tile7.png" />
    </div>
    <h1>Turns: <span id="turns">0</span></h1>
</body>
</html>