<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Spada</title>
    <link href="~/css/Puzzle/Letteravaso.css" rel="stylesheet" />
</head>
<body>
<img src="~/Images/Sword_2.jpg" />
</body>
</html>