/* Add your custom styles here */
body {
    margin: 0; /* Remove default margin */
}

.container2 {
    position: relative; /* Position relative for absolute positioning of buttons */
    width: 100%; /* Full width */
    height: 0; /* Initial height */
    padding-bottom: 75%; /* This sets the aspect ratio of the container (e.g., 4:3 ratio) */
    background-image: url('/Images/Castello1_Prova.jpg'); /* Set your background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
}

#openChestButton {
    position: absolute; /* Position the button absolutely */
    top: 79%; /* Adjust according to your image */
    left: 81%; /* Adjust according to your image */
    transform: translate(-50%, -50%); /* Center the button */
    display: block; /* Show the button */
    cursor: default;
    scale: 80%;
}

#wardrobeButton {
    position: absolute; /* Position the button absolutely */
    top: 48%; /* Adjust according to your image */
    left: 39%; /* Adjust according to your image */
    transform: translate(-50%, -50%); /* Center the button */
    display: none; /* Keep it hidden initially */
    cursor: default;
    scale: 75%;

}

#puzzle-board img {
    width: 100px;
    height: 100px;
    margin: 2px;
}

#keypad button {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#board {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;
    border-radius: 20px 20px 20px 20px;
    padding: 5px;
    margin: 30px auto; /* Centers the board horizontally */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    /* Style the board images */
    #board img {
        width: 110px;
        height: 111px;
        border: -5px;
    }
